<% @followings.each do |following| %>
  <div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-5">
    <%= image_tag following.get_profile_image(100,100), class: "rounded-circle";  %>
    <h5 class="profile-name display-4"><%= following.name %></h5>
    <tr>
      <td><%= following.email %></td>
    </tr>
  </div>
  <%#= render 'post_images/list', post_images: @post %>
<% end %>
<%= paginate @followings %>