<% @followings.each do |following| %>
  <div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-5">
    <%= image_tag following.get_profile_image(100,100), class: "rounded-circle";  %>
    <h5 class="profile-name display-4"><%= following.name %></h5>
    <tr>
      <td><%= link_to "フォロー外す", customer_customer_follows_path(following.id), data: {confirm: "フォローを外しますか？"}, method: :delete %></td>
    </tr>
  </div>
  <%#= render 'post_images/list', post_images: @post %>
<% end %>
<div class="w-50 mt-2 text-right mx-auto">
  <%= paginate @followings %>
</div>