<div class="container">
  <div class="row-10">
   <h1 class="text-center mb-4 mt-4">About</h1>
  </div>
  <div class="row-10">
   <h3 class="text-center mb-4">
     映えない日常をシェアするSNSサイトです。<br>
     失敗した写真、インスタにアップするほどじゃない地味な写真を<br>
     みなさん、どんどん投稿して生きましょう！<br>
   </h3>
   <div style="text-align: center;">
     <%= image_tag 'about.jpeg', width: "300px" %>
   </div>
  </div>
</div>