<div class="card w-50 mx-auto shadow-lg">
  <h3 class="text-center mt-2 ">About</h3>
  <h6 class="text-center mb-2">
    映えない日常をシェアするSNSサイトです。<br>
    失敗した写真、インスタにアップするほどじゃない<br>
    映えない写真を気軽に投稿しましょう。<br>
  </h6>
    <%= image_tag asset_path("about.jpg")%>
  </div>
</div>
